venv
.venv
.venv1
.env
db.sqlite3
credentials.json
account/migrations/
chat/migrations/
account/__pycache__
core_account/__pycache__
chat/__pycache__
chat/utils/__pycache__
core/__pycache__
docs/
cloud_sql_proxy.exe
test.py
text.
1_Africa_2005.pdf
1/
text.txt
.idea/
ovo_env/
tech_check_1
tech_check_3
*.pdf
*.json
core/migrations/
/core_account/migrations/
